<!DOCTYPE html>
<html>    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Andikwa | Extrait acte deces</title>
    </head>
    <body> 
        <div>
            <h4>REPUBLIQUE DU BURUNDI</h4>    
            <h4>MINISTERE DE L’INTERIEUR,</h4>
            <h4>DU DEVELOPPEMENT COMMUNAUTAIRE</h4>
            <h4>ET DE LA SECURITE PUBLIQUE</h4>
            <div><h4>PROVINCE: ………………….</h4></div>
            <h4>COMMUNE: ……………………</h4>
            
            <p>N° Acte: …………….....</p>
            <p>N° Volume: …………</p>
            <div class="text-center">
            <p><strong><u>EXTRAIT D’ACTE DE DECES</u></strong></p>
            <p></p>
            </div>
            <p>L’an…………………………, le ………………………. jour du mois ………………est décédé(e) à ………………………… le (a) nommé(e) <i><strong>{{deces.personne.nom}}</strong> <strong>{{deces.personne.prenom}}</strong></i> </p>
            <p>âgé(e) de <i><strong>{{ naissance.dateNaissance | date("d/m/y")  }}</strong></i> ans,</p> 
            <p>profession……………………………………………………de nationalité ……………………………………………résident à ……………………………...
            <p>Il (elle) était né(e) à …………………………....... Le défunt(e) …………………… (état matrimonial) à ……………………………………………………Ses père et mère sont :
            <p>…………………………………………… et ……………………………………………………..</p>
            <p></p>
            <p></p>
            <p></p>
            <div>
                <p><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; POUR EXTRAIT CERTIFIE CONFORME</strong></p>
                <p><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Le ………. /………/ ………… </strong></p>
                <p><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; L’OFFICIER DE L’ETAT-CIVIL</strong></p>
            </div>
        </div>
    </body>
</html>
