<!DOCTYPE html>
<html>    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Andikwa | Extrait acte naissance</title>
    </head>
    <body> 
        <div>
            <h4>REPUBLIQUE DU BURUNDI</h4>    
            <h4>MINISTERE DE L’INTERIEUR,</h4>
            <h4>DU DEVELOPPEMENT COMMUNAUTAIRE</h4>
            <h4>ET DE LA SECURITE PUBLIQUE</h4>
            <div><h4>PROVINCE: ………………….</h4></div>
            <h4>COMMUNE: ……………………</h4>
            
            <p>N° Acte: …………….....</p>
            <p>N° Volume: …………</p>
            <div class="text-center">
            <p><strong><u>PROCES-VERBAL DE PUBLICATION DES BANCS DE MARIAGE</u></strong></p>
            <p></p>
            </div>
            <p>L’an…………………………, le …………..jour du mois  ………………..., </p>
            <p>Devant nous, .............................................................…... officier d’état- civil à ….………………..</p>
            <p>Avons conformément à l’article cent et treize du code des personnes et des familles ,avons proclamé et affiché à la 
            porte de notre office qu’il y a un projet de mariage entre d’une part:  </p>
            <p><i><strong>{{---}}</strong> <strong>{{--}}</strong></i>, 
            fils de ………………………… et de ………………………… ..né à ………… le …………, résidant à ……………, de nationalité ………………… , profession :……………………….</p>
            <p>Et de…………………………………………, <p><i><strong>{{---}}</strong> <strong>{{--}}</strong></i>, 
            fille de ………………………… et de ………………………… ..née à ………… le …………, résidant à ……………, de nationalité …………………, Profession :……………………….D’autre part.</p> 
            
            <p>Ledit mariage pourra être célébré par l’officier d’état-civil de………………………………………………… à partir de ……………………………………....est né(e) le (la) nommé(e) ………………fils</p>
            <p>Toute personne ayant des objections à faire prévaloir à l’encontre dudit mariage peut soir formuler </p>
            <p>une opposition par écrit ou l’adresser verbalement conformément à l’article cent et six du code des </p>
            <p>personnes et des familles à l’officier d’état-civil de………………………………..</p>
            <p>En foi de quoi nous avons dressé le présent procès-verbal au jour, mois et année que dessus.</p>
            <div>      
                <p><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fait à …………………….le …./…/…..</strong></p>
                <p><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; L’OFFICIER DE L’ETAT-CIVIL</strong></p>
                <p><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Nom et Prénom</strong></p>
                <p><strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Signature</strong></p>
            </div>
        </div>
    </body>
</html>
